## Chapter 7 Homework

### Question 1

##### How do you define a list in Python?

In [2]:
# You define a list by assigning a variable to a list of values, separated by commas and enclosed in square brackets.
# EXAMPLE:
A = [1, 2, 3, 4, 5]

### Question 2

##### How do you access the third element of a Python list named my_list?

In [1]:
# You can access the the elements of a list using the index of the element.
# Indexing starts at 0, so the third element of a list is at index 2.
# EXAMPLE:
my_list = [1, 2, 3, 4, 5]
my_list[2] # This will return 3 (the third element of the list)

3

### Question 3

##### How can you add the element "new_item" to the end of an existing list named my_list?

In [3]:
# You can add an element to the end of a list using the append method.
# EXAMPLE:
my_list = [1, 2, 3, 4, 5]
my_list.append("new_item") # This will add "new_item" to the end of the list
my_list

[1, 2, 3, 4, 5, 'new_item']

### Question 4

##### How do you create a Python tuple with the items "apple", "banana", and "cherry"?

In [4]:
# A tuple is similar to a list, but it is immutable
# You define a tuple by assigning a variable to a list of values, separated by commas and enclosed in parentheses (not neccessary, but it makes it easier to read).
# EXAMPLE:
fruit_tuple = ("apple", "banana", "cherry")
fruit_tuple

('apple', 'banana', 'cherry')

### Question 5

##### How do you access the first element of a Python tuple named my_tuple?

In [5]:
# Indexing a tuple is the same as indexing a list.
# EXAMPLE:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[0] # This will return 1 (the first element of the tuple)

1

### Question 6

##### How do you define a dictionary in Python with the keys "name", "age", and values "John Doe", 30?

In [6]:
# You define a dictionary by assigning a variable to a list of key-value pairs, separated by commas and enclosed in curly brackets.
# The key is the first element of the pair and value is the second.
# EXAMPLE:
dictionary = {"Name": "John Doe", "Age": 30}
dictionary

{'name': 'John Doe', 'Age': 30}

### Question 7

##### How can you retrieve the value for the key "name" from the dictionary my_dict?

In [15]:
# You retrieve the value for the key "name" from the dictionary by using the key as an index.
# EXAMPLE:
my_dict = {"Name": "John Doe", "Age": 30}
my_dict["Name"] # This will return "John Doe"

'John Doe'

### Question 8

##### How can you change the value associated with the key "age" in the dictionary my_dict to 35?

In [14]:
# You can change the value of a key in a dictionary by using the key as an index and assigning a new value to it.
# EXAMPLE:
my_dict = {"Name": "John Doe", "Age": 30}
my_dict["Age"] = "35" # This will change the value of the key "age" to "35"
my_dict # This will return {'name': 'John Doe', 'Age': 35}

{'Name': 'John Doe', 'Age': '35'}

### Question 9

##### How can you add a new key-value pair "city":"New York" to the dictionary my_dict?

In [13]:
# You can add a new key-value pair to a dictionary by using the key as an index and assigning a new value to it.
# EXAMPLE:
my_dict = {"Name": "John Doe", "Age": 30}
my_dict["City"] = "New York" # This will add a new key-value pair to the dictionary
my_dict # This will return {'name': 'John Doe', 'Age': 30, 'City': 'New York'}

{'Name': 'John Doe', 'Age': 30, 'City': 'New York'}

### Question 10

##### How do you create a set in Python with the items "apple", "banana", and "cherry"?

In [16]:
# You can create a set in Python by assinging a variable to a list of values, separated by commas and enclosed in curly brackets.
# EXAMPLE:
my_set = {"apple", "banana", "cherry"}
set_1

{'apple', 'banana', 'cherry'}

### Question 11

##### How do you add the item "orange" to an existing set my_set?

In [18]:
# You can add an item to a set using the add method.
# EXAMPLE:
my_set = {"apple", "banana", "cherry"}
my_set.add("orange") # This will add "orange" to the set
my_set

{'apple', 'banana', 'cherry', 'orange'}

### Question 12

##### How do you remove the item "banana" from the set my_set?

In [19]:
# You can remove an item from a set using the remove method.
my_set.remove("banana") # This will remove "banana" from the set
my_set

{'apple', 'cherry', 'orange'}

### Question 13

##### What is the length of a list my_list with elements [1, 2, 3, 4, 5]

In [20]:
# You can check the length of a set using the len method.
my_list = [1, 2, 3, 4, 5]
len(my_list) # This will return 5 (the length of the list)

5

### Question 14

##### What will be the result of my_list * 2 if my_list is [1, 2, 3]?

In [22]:
# The result will be [1, 2, 3, 1, 2, 3] because it is just repeating the list twice.
my_list = [1, 2, 3]
my_list * 2

[1, 2, 3, 1, 2, 3]

### Question 15

##### What is the result of set ([1,2,2,3,4,4,4,5,5,])

In [23]:
# The result will be {1,2,3,4,5} because a set removes the duplicates.
set1 = set([1,2,2,3,4,4,4,5,5])
set1

{1, 2, 3, 4, 5}