## Lists

In [3]:
# Create a list of five integers
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [1]:
# Type of the list
type([1, 2, 3, 4, 5])

list

In [2]:
# Creat a list of five integers and five strings
[1, 2, 3, 4, 5, "one", "two", "three", "four", "five"]

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']

In [4]:
# Create a list of five random integers and assing it to the variable my_list
my_list = [7, 4, 8, 2, 9]

In [5]:
# Retrieve the first element of the list
my_list[0]

7

In [6]:
# Retrieve the last element of the list
my_list[-1]

9

In [7]:
# Retrieve the last element of the list
my_list[4]

9

In [8]:
# Retrieve the first three elements of the list
my_list[0:3]

[7, 4, 8]

In [9]:
# Retrieve all elements from index 3
my_list[3:]

[2, 9]

In [10]:
# Retrieve the last three elements of the list
my_list[-3:]

[8, 2, 9]

In [11]:
# Change the first element of the list to 'First'
my_list[0] = "First"
my_list

['First', 4, 8, 2, 9]

In [12]:
# Change the last element of the list to list ['one', 'two', 'three']
my_list[-1] = ["one", "two", "three"]
my_list

['First', 4, 8, 2, ['one', 'two', 'three']]

In [13]:
# Return the length of the list
len(my_list)

5

In [14]:
# Retrieve the last element of the list
my_list[-1]

['one', 'two', 'three']

In [15]:
# Retrieve the first element of the last element of the list
my_list[-1][0]

'one'

In [16]:
# Extend the list with the elements 10, 11, and 12
my_list.extend([10, 11, 12])
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11, 12]

In [17]:
# Remove the last element of the list
my_list.pop()
my_list

['First', 4, 8, 2, ['one', 'two', 'three'], 10, 11]

In [18]:
# Remove the element at index 2
my_list.pop(2) # The value 8 at index number 2 is removed
my_list

['First', 4, 2, ['one', 'two', 'three'], 10, 11]

In [19]:
# Append the number 6 to the list
my_list.append(6)
my_list

['First', 4, 2, ['one', 'two', 'three'], 10, 11, 6]

In [20]:
# Insert the string 'interted' at index 2
my_list.insert(2, "inserted")
my_list

['First', 4, 'inserted', 2, ['one', 'two', 'three'], 10, 11, 6]

In [21]:
# Create two new lists of integers
my_list1 = [1, 2, 3, 4, 5]
my_list2 = [6, 7, 8, 9, 10]

In [22]:
# Concatenate the two lists
my_list1 + my_list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# Repeat my_list1 three times
my_list1 * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [24]:
# Determine of the number 5 is in my_list1
5 in my_list1

True

In [25]:
# Reverse the list
my_list1.reverse()
my_list1

[5, 4, 3, 2, 1]

In [26]:
# Use the list function and the range function to create a list of integers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
# Created a list containging the string 'I love Python'
list('I love Python')

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

## Tuples

In [29]:
# Creat a tuple of five integers and assign it to the variabel tuple_1
tuple_1 = 2, 4, 5, 7, 'ring' # simply state elements
tuple_1

(2, 4, 5, 7, 'ring')

In [30]:
# Type of the tuple
type(tuple_1)

tuple

In [31]:
# Create a tuple with the elements 1, 2, 'three', and the list 'Python' and assign it to the varibale tuple_2
tuple_2 = (1, 2, 'three', list('Python')) #  Use parentheses
tuple_2

(1, 2, 'three', ['P', 'y', 't', 'h', 'o', 'n'])

In [32]:
# retrieve the first element of tuple_1
tuple_1[0]

2

In [33]:
# Create a tuple with the string elements 'Python', 'R' and 'Julia' and assing it to the variable languages
languages = ('Python', 'R', 'Julia')
languages

('Python', 'R', 'Julia')

In [35]:
# Assing each element of the tuple to a separate variable, using the variable names one, two, and three
one, two, three = languages

In [36]:
# Retrieve the object in one
one

'Python'

In [39]:
names = ['Mary', 'Anne', 'Rene']
surnames = ['Smith', 'Brown', 'Davis']

In [40]:
# Use the zip function to create a list of tuples
list(zip(names, surnames))

[('Mary', 'Smith'), ('Anne', 'Brown'), ('Rene', 'Davis')]

In [41]:
# Generate a list of tuples (each with three elements)
data_set = [('Anna', 'Rogers', 33), ('Susan', 'Roberts', 25), ('Rene', 'Du Bois', 28)]

# Unzip the three element tuples
names, lastnames, ages = zip(*data_set)

In [42]:
# Return the names
names

('Anna', 'Susan', 'Rene')

In [43]:
# Return the lastnames
lastnames

('Rogers', 'Roberts', 'Du Bois')

In [44]:
# Return the ages
ages

(33, 25, 28)

## Dictionaries

In [45]:
# Generate a dictionary
id345 = {'First Name':'Jenny', 'Last Name':'Gregory', 'Age':48, 'Heart Rate':'75'}

In [46]:
# Type
type(id345)

dict

In [47]:
# Return the keys of the dictionary
id345.keys()

dict_keys(['First Name', 'Last Name', 'Age', 'Heart Rate'])

In [48]:
# Return the values of the dictionary
id345.values()

dict_values(['Jenny', 'Gregory', 48, '75'])

In [49]:
# Return the items of the dictionary
id345.items()

dict_items([('First Name', 'Jenny'), ('Last Name', 'Gregory'), ('Age', 48), ('Heart Rate', '75')])

In [50]:
# Return the value for the 'First Name' key
id345['First Name']

'Jenny'

In [ ]:
id345.get('Surname') # No such key

In [51]:
# Generate a dictionary using the dict function
my_dict = dict([(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')])

# Return a list of the values of the dictionary
list(my_dict.values())

['A', 'B', 'C', 'D']

## Sets

In [52]:
# Generate set with the elements 1, 2, 3, 4, 4, 4, 4, 1
set_1 = {1, 2, 3, 4, 4, 4, 4, 1}
set_1 # Call the object and print to the screen

{1, 2, 3, 4}

In [53]:
# Use the set function instead
set_1 = set([1, 2, 3, 4, 4, 4, 4, 1])
set_1

{1, 2, 3, 4}

In [54]:
# Add the element 7 to the set
set_1.add(7)
set_1

{1, 2, 3, 4, 7}

## List Comprehension

In [55]:
# Use list comprehension to create a list of the first 10 square natural numbers
[x**2 for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
for x in range(1, 11):
    print(x**2, end=' ')

1 4 9 16 25 36 49 64 81 100

In [61]:
# Squares of natural numbers larger than 5
[n**2 for n in range(1, 11) if n > 5]

[36, 49, 64, 81, 100]

In [62]:
# Only include elements that are less that 50
[n**2 for n in range(1, 11) if n**2 < 50]

[1, 4, 9, 16, 25, 36, 49]