## Chapter 9 Homework

### Question 1

##### How do you import the pandas library in Python?

In [1]:
# You import the pandas library by using the import statement.
import pandas as pd # pandas is abbreviated as pd so it is easier later in the code to type pd instead of pandas.

### Question 2

##### What function do you use to read a CSV file in pandas?

In [2]:
# You use the read_csv() function from the pandas library to read the data from the CSV file.
# Example:
# data = pd.read_csv('data.csv')

### Question 3

##### How do you display the first 5 rows of a DataFrame in pandas?

In [3]:
# You display the first 5 rows of a DataFrame in pandas using the head() function.
# Example:
# print(data.head())

### Question 4

##### How do you calculate the mean of a column named Age in a DataFrame named df?

In [6]:
# You calculate the mean of a column named Age in a DataFrame named data using the mean() function.
# Example:
# print(data['Age'].mean())

### Question 5

##### How do you calculate the median of a column named Salary in a DataFrame named df?

In [5]:
# You calculate the median of a column named salary in a DataFrame named data using the median() function.
# Example: 
# median_salary = data['salary'].median()

### Question 6

##### How do you calculate the standard deviation of a column named Score in a DataFrame named df?

In [7]:
# You calculate the standard deviaiton of a column named Score in a DataFram named df by using the std() function.
# Example:
# std_dev = df['Score'].std()

### Question 7

##### How do you find the number of missing values in each column of a DataFrame named df?

In [9]:
# You can find the number of missing values in each column of a DataFrame named df by using the isnull() function.
# Example:
# print(df.isnull().sum())

### Question 8

##### How do you calculate the correlation between two columns, Age and Salary, in a DataFrame named df?

In [10]:
# You can calculate the correlation between two columns, Age and Salary, in a DataFrame df by using the corr() function.
# Example:
# print(df['Age'].corr(df['Salary']))

### Question 9

##### How do you select a subset of a DataFrame df where the column Age is greater than 30?

In [11]:
# You can select a subset of a DataFrame df where the column Age is greater than 30 using the following code:
# df_subset = df[df['Age'] > 30]

### Question 10

##### How do you calculate the range (maximum - minimum) of a column named Score in a DataFrame named df

In [12]:
# You can calculate the range of a column named Score in a DataFrame df by using the range() function.
# Example:
# range_score = df['Score'].max() - df['Score'].min()

### Question 11

##### How do you group a DataFrame df by a column named Department and calculate the mean of Salary within each group?

In [13]:
# You can group a DataFrame df by a column named Department and calculate the mean of the Salary within each group by using the groupby() function.
# Example:
# print(df.groupby('Department')['Salary'].mean())

### Question 12

##### How do you group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group?

In [14]:
# You can group a DataFrame df by two columns, Department and Job Title, and count the number of rows within each group by using the groupby() function.
# Example:
# print(df.groupby(['Department', 'Job Title']).size())

### Question 13

##### How do you use the groupby method to find the maximum Age in each Department in a DataFrame df?

In [15]:
# You can use the groupby method to find the maximum Age in each Department in a DataFrame df
# Example:
# print(df.groupby('Department')['Age'].max())

### Question 14

##### How do you create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in a DataFrame df?

In [16]:
# You can create a cross-tabulation table that shows the frequency count of Department (rows) and Job Title (columns) in DataFrame df
# Example:
# print(pd.crosstab(df['Department'], df['Job Title']))

### Question 15

##### How do you create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in a DataFrame df?

In [17]:
# You can create a cross-tabulation table that shows the mean Salary for each combination of Department (rows) and Job Title (columns) in DataFrame df
# Example:
# print(pd.crosstab(df['Department'], df['Job Title'], values=df['Salary'], aggfunc='mean'))