## Chapter 9 Notes

### Packages Used in this Notebook

In [1]:
import pandas as pd
from scipy import stats

In [3]:
# Import the heart_failure.csv fule and assign it to the variable df
df = pd.read_csv('https://raw.githubusercontent.com/juanklopper/TutorialData/main/heart_failure.csv')

In [4]:
# View the first 5 rows of the dataframe
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,hypertension,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death
0,75.0,No,582,No,20,Yes,265000.00,1.9,130,Male,No,4,Yes
1,55.0,No,7861,No,38,No,263358.03,1.1,136,Male,No,6,Yes
2,65.0,No,146,No,20,No,162000.00,1.3,129,Male,Yes,7,Yes
3,50.0,Yes,111,No,20,No,210000.00,1.9,137,Male,No,7,Yes
4,65.0,Yes,160,Yes,20,No,327000.00,2.7,116,Female,No,8,Yes

In [6]:
# Return the shape of the dataframe
df.shape # returns a tuple with the number of rows and columns

(299, 13)

In [7]:
# Return info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    object
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    object
 4   ejection_fraction         299 non-null    int64
 5   hypertension              299 non-null    object
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    object
 10  smoking                   299 non-null    object
 11  time                      299 non-null    int64
 12  death                     299 non-null    object
dtypes: float64(3), int64(4), object(6)
memory usage: 30.5+ KB

In [8]:
# List the columns in df
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'hypertension', 'platelets', 'serum_creatinine',
       'serum_sodium', 'sex', 'smoking', 'time', 'death'],
      dtype='object')

In [9]:
# Get info about df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    object
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    object
 4   ejection_fraction         299 non-null    int64
 5   hypertension              299 non-null    object
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    object
 10  smoking                   299 non-null    object
 11  time                      299 non-null    int64
 12  death                     299 non-null    object
dtypes: float64(3), int64(4), object(6)
memory usage: 30.5+ KB

In [10]:
# Determine the uniqie classes for the anaemia column
df['anaemia'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
# Determine the value counts of the classes in the anemia column
df['anaemia'].value_counts()

anaemia
No     170
Yes    129
Name: count, dtype: int64

In [13]:
# Determine the relative frequency of the classes in the anemia column
df['anaemia'].value_counts(normalize=True)

anaemia
No     0.568562
Yes    0.431438
Name: proportion, dtype: float64

In [15]:
df['diabetes'].value_counts(normalize=True) * 100 # Multiply by 100 to get percentage

diabetes
No     58.19398
Yes    41.80602
Name: proportion, dtype: float64

In [16]:
# Determine the frequency of the classes in the anemia column after grouping by the classes in the diabetes column
df.groupby('diabetes')['anaemia'].value_counts()

diabetes  anaemia
No        No         98
          Yes        76
Yes       No         72
          Yes        53
Name: count, dtype: int64

In [17]:
# Create a cross tabilation of the anaemia and diabetes columns
pd.crosstab(df['anaemia'], df['diabetes'])

diabetes  No  Yes
anaemia
No        98   72
Yes       76   53

In [18]:
# Express the cross tabulation as a percentage of the total
pd.crosstab(df['anaemia'], df['diabetes'], normalize=True) * 100

diabetes        No        Yes
anaemia
No        32.77592  24.080268
Yes       25.41806  17.725753

In [19]:
# Calculate the mean of the age variable
df['age'].mean()

60.83389297658862

In [21]:
# Calculate the mean age by groups in the death column
df.groupby('death')['age'].mean()

death
No     58.761906
Yes    65.215281
Name: age, dtype: float64

In [23]:
# Calculate the median age by the groups in the death column
df.groupby('death')['age'].median()

death
No     60.0
Yes    65.0
Name: age, dtype: float64

In [24]:
# Calculate the mean age
df.age.mean()

60.83389297658862

In [25]:
# Determine the range of the age
df.age.max() - df.age.min()

55.0

In [26]:
# Determine the sample variance of the age column
df.age.var(ddof=1)

141.48648290797084

In [27]:
# Describe the age column
df.age.describe() # This returns the summary statistics of the age column

count    299.000000
mean      60.833893
std       11.894809
min       40.000000
25%       51.000000
50%       60.000000
75%       70.000000
max       95.000000
Name: age, dtype: float64