## Code Comments

In [7]:
# This is a note to myself or my colleagues

## Arithmetic

### Addition

In [8]:
# Add 2 and 2 and 10
2 + 2 + 10

14

### Subtraction

In [9]:
# Subtract 10 and 2
10 - 2

8

### Integer Division

In [10]:
# Divide 10 and 3
10 // 3

3

### Exponential

In [11]:
9 ** .5

3.0

### Order of Arithmetic

In [12]:
((6+4)*2)/10

2.0

## Functions

#### There are functions where the first part is the function followed by and argument

In [15]:
# Example of a function
type(True)

bool

In [16]:
# Another example
type(False)

bool

In [17]:
True + False

1

In [11]:
2 < 4

10

In [20]:
2 > 4

False

In [21]:
4 != 2

True

In [22]:
4 != 4

False

In [23]:
4 == 4.0

True

In [24]:
type(4)

int

In [25]:
type(4.0)

float

In [1]:
type(3.0 + 1j)

complex

In [2]:
type("Health Data Science")

str

In [3]:
type('8')

str

##### Coersion or casting converts and object from one type to another. Some casting is allowed in Python. The string 8 below is coerced to an integer using int function

In [5]:
# Convert the string '8' to an integer
int(8)

8

In [6]:
# Conver the stirn '8' to a float and add it to 3.0
float('8')+3.0

11.0

In [10]:
# This is what happens if you don't use float
'8' + 3.0

TypeError: can only concatenate str (not "float") to str

In [9]:
"Python" + "Language"

'PythonLanguage'

##### An equal sign (=) is an assignment operation and assigns what is to its right to what is to its left

In [12]:
my_variable = 'I like Python'
print(my_variable)

I like Python

In [13]:
# Assign the value 1 to th variable i
i = 1

# Call the variable
i

1

In [14]:
# Add 1 to i and assign the result to i
i = i + 1

# Call the variable i
i

2

In [15]:
x = 5
y = x
x = 7
y

5

In [16]:
range(10)

range(0, 10)

##### The list function prints the actual values

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [28]:
i = 0
for i in range (6):
    print(i ** 2)

0
1
4
9
16
25

In [26]:
for i in [0,1,2,3,4,5]:
    print(i**2)

0
1
4
9
16
25

In [27]:
[i**2 for i in range(6)]

[0, 1, 4, 9, 16, 25]

### While Loop

In [30]:
# Generate a variable i that takes the value 0
age = 0

# Create a while loop that prints the integers
while age < 10:  # Check if is is less than 10 (if it is, execute the code below, if not, exit the loop)
    print(age)  # Print the current value of i
    age = age + 1  # Increment the current value of i by 1
# While loops are not commonly used because it is easier to accidentally make them infinite

0
1
2
3
4
5
6
7
8
9

In [33]:
age = 0

for age in range(10):
    print(age ** 2)
    age = age + 1

0
1
4
9
16
25
36
49
64
81

In [39]:
# Create a variable named variable and assign interger 10 to it
variable = 5

# Create and if-else expression to print
if variable > 5:
    print('The value is larger than 5')
else:
    print('The value is not larger than 5.')

The value is not larger than 5.

In [40]:
# Add an elif statement to the if-else expression
if variable > 5:
    print('The value is larger than 5')
elif variable == 5:
    print('The value is equal to 5.')
else:
    print('The variable is not larger than 5')

The value is equal to 5.

In [41]:
for i in [1, 2, 3, 4, 5]:
    for j in [1, 2, 3]:
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3
5 1
5 2
5 3